{% extends "web/base_adm.html" %}
{% load static %}

{% block body %}
<div class="container">
    <div class="card card-login mx-auto mt-5">
      <div class="card-header">Login</div>
      <div class="card-body">
        <form method="post" action="{{ action }}">
          {% csrf_token %}
          <div class="form-group">
            <div class="form-label-group">
              {{ auth.username }}
              <label for="inputUsername">Username</label>
            </div>
          </div>
          <div class="form-group">
            <div class="form-label-group">
              {{ auth.password }}
              <label for="inputPassword">Password</label>
            </div>
          </div>
          <input class="btn btn-primary btn-block" type="submit" name="submit">
        </form>
      </div>
    </div>
  </div>
{% endblock body %}

