{% extends "web/base.html" %}
{% load static %}

{% block body %}
    <div class="page-wrapper">
      <div class="header-wrapper">
        <div class="header">
          <div class="container">
            <div class="header-inner">
              <div class="navigation-toggle toggle">
                <span></span>
                <span></span>
                <span></span>
              </div>
              <!-- /.header-toggle -->
              <div class="header-logo">
                <a href="index.html">
                  <img src="{% static 'assets/img/logo.svg' %}" class="svg" alt="Home">
                </a>
                <a href="{% url 'news:index' %}" class="header-title">AntiHoax</a>
              </div>
              <!-- /.header-logo -->
              <div class="header-nav">
                <div class="primary-nav-wrapper">
                  <ul class="nav">
                    <li class="nav-item has-sub-menu">
                      <a href="#" class="nav-link ">Menu</a>
                      <ul class="sub-menu">
                        <li><a href="{% url 'user:user_login' %}">Login</a></li>
                        <li><a href="{% url 'user:register' %}">Registration</a></li>
                      </ul>
                    </li>
                    <li>
                      <a href="{% url 'user:register' %}" class="nav-link ">Registration</a>
                    </li>
                    <li>
                      <a href="{% url 'user:user_login' %}" class="nav-link ">login</a>
                    </li>
                  </ul>
                </div>
                <!-- /.primary-nav-wrapper -->
              </div>
              <div class="header-toggle toggle">
                <span></span>
                <span></span>
                <span></span>
              </div>
              <!-- /.header-toggle -->
              
            </div>
            <!-- /.header-inner -->
          </div>
          <!-- /.container -->
        </div>
        <!-- /.header -->
      </div>
      <!-- /.header-wrapper -->
      <div class="main-wrapper">
        <div class="main">
          <div class="main-inner">
            <div class="page-title">
              <div class="container">
                <h1>Recent news
                </h1>
                <div class="page-title-actions">
                </div>
                <!-- /.page-title-actions -->
              </div>
              <!-- /.container-->
            </div>
            <!-- /.page-title -->
            <div class="container">
              <div class="row">
                <div class="col-md-4 col-lg-3">
                  <div class="sidebar">
                    <div class="widget">
                      <h3 class="widgettitle">Search Site</h3>
                      <div class="search">
                        <form method="get" action="">
                          <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-search"></i></span>
                            <input type="text" id="searchbox" name="s" value="{{ request.GET.s }}" placeholder="Search the site" class="form-control">
                          </div>
                          <!-- /.form-group -->
                        </form>
                      </div>
                      <!-- /.search -->
                    </div>
                    <!-- /.widget -->
                    <div class="widget">
                      <h3 class="widgettitle">Recent News  </h3>
                      <div>
                        {% for n in newslimit %}
                        <div class="listing-row-medium">
                          <div class="listing-row-medium-inner">
                            <a href="#" class="listing-row-medium-image">
                              <img src="/media/{{ n.image }}"/>
                            </a>
                            <div class="listing-row-medium-content">
                              <a class="listing-row-medium-category tag" href="#">{{ n.category }}</a>
                              <h4 class="listing-row-medium-title"><a href="{% url 'news:news_detail' n.id %}">{{ n.title }}</a></h4>
                              <!-- /.listing-row-medium-address -->
                            </div>
                            <!-- /.listing-row-medium-content -->
                          </div>
                          <!-- /.listing-row-medium-inner -->
                        </div>
                        {% endfor %}
                        <!-- /.listings-row-medium -->
                        
                      </div>
                    </div>
                  </div>
                  <!-- /.sidebar -->
                </div>
                <!-- /.col-* -->
                
                <div class="col-md-8 col-lg-9">
                  <div class="posts">
                    {% for n in news %}
                    <div class="post">
                      <div class="post-image">
                        <img src="/media/{{ n.image }}"/>
                      </div>
                      <!-- /.post-image -->
                      <div class="post-title">
                        <h2><a href="">{{ n.title }}</a></h2>
                      </div>
                      <!-- /.post-title -->
                      <div class="post-meta">
                        <div class="post-meta-item">
                          Posted by <a href="">{{ n.user }}</a>
                        </div>
                        <div class="post-meta-item">
                          {{ n.category }}
                        </div>
                        <!-- /.post-meta-item -->
                        <div class="post-meta-item">
                          <i class="fa fa-calendar"></i><a href="">{{ n.date }}</a>
                        </div>
                        <!-- /.post-meta-item -->
                        <div class="post-meta-item">
                          <i class="fa fa-comment"></i> <a href="">{{ n.url }}</a>
                        </div>
                        <!-- /.post-meta-item -->
                      </div>
                      <!-- /.post-meta -->
                      <div class="post-content">
                        <p>{{ n.desc }}</p>
                      </div>
                      <!-- /.post-content -->
                      <div class="post-read-more">
                        <a href="{% url 'news:news_detail' n.id %}" class="btn btn-primary">Read More <i class="fa fa-chevron-right"></i></a>
                      </div>
                      <!-- /.post-read-more -->
                    </div>
                    {% endfor %}
                  <ul class="pagination pull-right">
                    <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                    <li class="page-item active"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">Next</a></li>
                  </ul>
                </div>
                <!-- /.col-* -->
              </div>
              <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
          </div>
          <!-- /.main-inner -->
        </div>
        <!-- /.main -->
      </div>
      <!-- /.main-wrapper -->
      <div class="footer-wrapper">
        <div class="footer">
          <div class="footer-inner">
            <div class="container">
              <div class="row">
                <div class="col-lg-4">
                  <div class="widget">
                    <h3>
                      <img src="assets/img/logo.svg" class="svg" alt="Home">
                      Explorer Template
                      <span>Directory HTML Template</span>
                    </h3>
                    <p>
                      Explorer is an advanced directory HTML template. It contains all HTML components
                      required for creating beautiful and functional websites.
                    </p>
                    <ul class="social">
                      <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                      <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                      <li><a href="#"><i class="fa fa-google"></i></a></li>
                    </ul>
                  </div>
                </div>
                <!-- /.col-* -->
                <div class="col-lg-4">
                  <div class="widget">
                    <ul class="nav nav-pills">
                      <li class="nav-item"><a class="nav-link" href="index-directory.html">Politics</a></li>
                      <li class="nav-item"><a class="nav-link" href="index-classified.html">Entertainment</a></li>
                      <li class="nav-item"><a class="nav-link" href="index-job-board.html">Sport</a></li>
                    </ul>
                  </div>
                  <!-- /.widget -->
                </div>
                <!-- /.col-* -->
                <div class="col-lg-4">
                  <div class="widget">
                    <h3>Best deals in your inbox</h3>
                    <p>
                      Join our newsletter for the most recent information. FYI this is not working form, just an example.
                    </p>
                    <form method="post">
                      <div class="form-group">
                        <input type="email" class="form-control" placeholder="Your e-mail address">
                      </div>
                      <!-- /.form-group -->
                      <div class="form-group clearfix">
                        <button type="submit" class="btn btn-primary pull-right">Join Newsletter</button>
                      </div>
                      <!-- /.form-group -->
                    </form>
                  </div>
                  <!-- /.widget -->
                </div>
                <!-- /.col-* -->
              </div>
              <!-- /.row -->
            </div>
            <!-- /.container -->
          </div>
          <!-- /.footer-inner -->
        </div>
        <!-- /.footer -->
      </div>
      <!-- /.footer-wrapper -->
    </div>
   
{% endblock body %}