{% extends "web/base.html" %}
{% load staticfiles %}

          {% block body %}
    <div class="page-wrapper">
      <div class="header-wrapper">
        <div class="header">
          <div class="container">
            <div class="header-inner">
              <div class="navigation-toggle toggle">
                <span></span>
                <span></span>
                <span></span>
              </div>
              <!-- /.header-toggle -->
              <div class="header-logo">
                <a href="index.html">
                  <img src="{% static 'assets/img/logo.svg' %}" class="svg" alt="Home">
                </a>
                <a href="{% url 'news:index' %}" class="header-title">AntiHoax</a>
              </div>
              <!-- /.header-logo -->
              <div class="header-nav">
                <div class="primary-nav-wrapper">
                  <ul class="nav">
                    <li class="nav-item has-sub-menu">
                      <a href="#" class="nav-link ">Home</a>
                      <ul class="sub-menu">
                        <li><a href="{% url 'news:index' %}?category=politics"><b>1.</b> &nbsp;&nbsp;Politics</a></li>
                        <li><a href="{% url 'news:index' %}?category=entertainment"><b>2.</b> &nbsp;&nbsp;Entertainment</a></li>
                        <li><a href="{% url 'news:index' %}?category=sport"><b>3.</b> &nbsp;&nbsp;Sport</a></li>
                      </ul>
                    </li>
                    <li>
                      {% if request.user.id %}
                      <a href="{% url 'news:news_upload' %}" class="nav-link ">Upload</a>
                      {% endif %}
                    </li>
                    <li class="nav-item">
                      {% if request.user.id %}
                      <a href="{% url 'news:news_history' request.user.id %}" class="nav-link">History Upload</a>
                      {% endif %}
                    </li>
                  </ul>
                </div>
                <!-- /.primary-nav-wrapper -->
              </div>
              <div class="header-toggle toggle">
                <span></span>
                <span></span>
                <span></span>
              </div>
              <!-- /.header-toggle -->
              
            </div>
            <!-- /.header-inner -->
          </div>
          <!-- /.container -->
        </div>
        <!-- /.header -->
      </div>

	<div class="container">
      <div class="row justify-content-center">
        <div class="col-10">
    <h1 class="mt-2">{{ newsdetail.title }}</h1>
	<div class="form-group">
    <p>
        <a href="/media/{{newsdetail.image}}/">
            <img src="/media/{{newsdetail.image}}">{{image}}
        </a>
    </p>
	</div>
  <div class="form-group col-10">
    {{ newsdetail.desc }}
  </div>
	<div class="form-group">
   Category : {{ newsdetail.category }}
	</div>
  <div class="form-group">
   Link : {{ newsdetail.url }}
	</div>
  {% if request.user.id %}
  <div class="form-group">
    <a href="{% url 'news:agreement' newsdetail.id %}?type=agree" class="btn btn-success">Agree <i class="fa fa-check"></i></a>
    <a href="{% url 'news:agree' %}" class="btn btn-info">{{ agree }}</a>
  </div>
  <div class="form-group">
    <a href="{% url 'news:agreement' newsdetail.id %}?type=disagree" class="btn btn-danger"> DisAgree <i class="fa fa-close"></i></a>
    <a href="{% url 'news:disagree' %}" class="btn btn-info">{{ disagree }}</a>
  </div>
  <div class="post-read-more">
      <a href="{% url 'news:index' %}" class="btn btn-primary">Home <i class="fa fa-home"></i></a>
  </div>
  {% endif %}
		    </div>
      </div>
    </div>

          {% endblock body %}